default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--check-filenames]

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.0
    hooks:
      - id: typos
        types: [text]
        exclude: changelog\.md

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        entry: deno fmt
        types: [file]
        language: system
        args: [--config, deno.jsonc, --permit-no-files]
      - id: deno-lint
        name: Deno lint
        entry: deno lint
        types: [file]
        language: system
        args: [--config, deno.jsonc, --permit-no-files, --fix]
      - id: svelte-check
        name: Svelte type check
        entry: bash -c 'deno install && deno run -A --node-modules-dir npm:@sveltejs/kit sync && deno run -A --node-modules-dir npm:svelte-check-rs@latest --fail-on-warnings --threshold error'
        language: system
        types_or: [ts, svelte]
        pass_filenames: false
