:root {
  --bodyBg: #090019;
}
body {
  background: var(--bodyBg);
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: white;
  text-align: center;
  max-width: 70em;
  margin: 0 auto 3em;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}

code {
  overflow-wrap: break-word;
  padding: 0 4pt;
  border-radius: 4pt;
  background-color: #004040;
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 1ex;
  font-size: 0.75em;
}
a code {
  color: white;
}
