body {
  background: #090019;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    sans-serif;
  color: white;
  text-align: center;
  font-size: 3ex;
  max-width: 65em;
  margin: auto;
}
main {
  max-width: 45em;
  margin: auto;
  margin-bottom: 3em;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}
