:root {
  --page-bg: #090019;
  color-scheme: dark;
}
html {
  background: var(--page-bg);
}
body {
  background: var(--page-bg);
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: white;
  max-width: 70em;
  margin: 0 auto 3em;
  min-height: 100vh;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}

code {
  overflow-wrap: break-word;
  padding: 0 4pt;
  border-radius: 4pt;
  background-color: #004040;
}
pre code {
  background-color: transparent;
}
pre {
  position: relative;
  border-radius: 1ex;
  font-size: 0.75em;
}
