name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
  release:
    types: [published]

jobs:
  tests:
    uses: janosh/workflows/.github/workflows/deno-test.yml@main
    secrets: inherit
    with:
      test-cmd: npx vitest
      e2e-install-cmd: npx svelte-kit sync && npx playwright install chromium
      e2e-test-cmd: npx playwright test
      e2e-continue-on-error: false
